.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# Don't ignore the JARS directory
!JARS/**
# Don't ignore the bundled dist js file (but ignore sourcemaps)
!dist/extension.js
Readme.md
Changelog.md
.idea
.github